body, h1, h2, h3, h4, h5, h6, p, li, a, button{
    font-family: 'Kodchasan', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

body, div, span{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}